<div class="panel panel-primary" style="float: left;margin-top: 70px; width: 300px;height:400px;">
    <div class="panel-heading" style="font-size: 20px;">Mbook</div>
    <div class="panel-body" style="font-family: fantasy;font-size: 17px;">
        <p>Social media is changing the way we communicate and the way we are perceived, both
            positively and negatively. We care about your feelings and hence we came up with a new concept with Mbook. Every time you post a photo, or update your status, you are contributing to your own digital footprint and personal brand with Mbook.</p>
    </div>
</div>